* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kan-NotoSerif-Var';
    font-weight: 400;
    font-style: normal;
    position: relative;
}

nav {
    background-image: linear-gradient(to right, rgba(0, 5, 144, 0.65), rgba(0, 5, 144, 0.65)),
        url(assets/images/carousel-2.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;

}

nav .top-row {
    display: flex;
    /* display: none; */
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(106, 0, 171, 0.4);
    color: white;
    padding: 5px;
    font-size: 0.8rem;
    font-weight: normal;
    font-family: 'RobotoCondensed-var';
}

nav .top-row .right {
    letter-spacing: 4px;
}

nav .top-row .right .fab {
    color: rgb(255, 255, 255);
    justify-content: center;
    font-size: 0.8rem;
    text-shadow: 0 0 10px rgb(210, 247, 4);
    cursor: pointer;
}

.v-bar {
    width: 1px;
    height: 20px;
    border-left: 1px solid rgb(184, 184, 184);
}

@media screen and (max-width:720px) {

    .top-row .left,
    .top-row .right {
        display: none;
    }
}

.middle-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(255, 255, 255); */
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.middle-row .image {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid rgb(151, 2, 2);
}

.middle-row .image .rotating-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(red, green, yellow, blue, orange, rgb(108, 208, 0), tomato, red);
    animation: rotateBackground 10s linear infinite;
}

.middle-row .image img {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 50%;
}

/* Keyframes for rotating the background */
@keyframes rotateBackground {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.middle-row .names {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.middle-row .names p,
h1,
h4,
h5 {
    margin: 0;
}

.middle-row .names p {
    font-size: .8rem;
}

.middle-row .names h1 {
    font-size: 1.8rem;
    font-weight: bold;
    /* text-shadow: 0 0 10px red; */
    text-shadow: 1px 1px 2px rgb(252, 50, 50), 0 0 25px rgb(30, 213, 85), 0 0 5px rgb(54, 54, 176);
}

.middle-row .names h4 {
    font-size: 0.9rem;
}

.middle-row .names h5 {
    font-size: 0.7rem;
}

/******** start of megamenu code ********/
.megamenu {
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(0, 0, 0);
    /* background: linear-gradient(to right, rgb(157, 255, 252), rgb(181, 238, 181)); */
    /* background: transparent; */
    text-align: center;
    position: relative;
}

.megamenu>ul {
    list-style: none;
}

.megamenu>ul>li {
    display: inline-block;
    padding: 10px 10px;
    /* background-color: rgba(180, 180, 18, 0.275); */
    /* position: relative; */
    font-family: 'RobotoCondensed-Var';
    margin: 0 5px;
    /* border: 2px solid yellow; */
    box-shadow: 0 0 4px yellow;
}

.megamenu>ul>li:hover {
    background-color: green;
    color: white;
    border-radius: 4px;
    box-shadow: 0 0 10px green;
}

.megamenu .mega-submenu {
    position: absolute;
    top: 120%;
    left: 50%;
    transition: ease-in .3s;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    display: flex;
    gap: 1px;
    flex-direction: row;
    justify-content: center;
    font-size: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    z-index: 100;
}

.megamenu .mega-submenu>ul {
    background-color: rgb(22, 8, 101);
    color: white;
    display: none;
    border-radius: 4px;
    position: relative;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: normal;
}

.megamenu>ul>li:hover .mega-submenu {
    opacity: 1;
    visibility: visible;
    top: 100%;
}

.megamenu>ul>li:hover .mega-submenu>ul {
    display: block;
}

.megamenu .mega-submenu>ul>li {
    padding-top: 6px;
    padding-bottom: 6px;
    display: block;
    width: 180px;
    text-align: center;
    font-family: 'RobotoCondensed-Var';

}

.megamenu .mega-submenu>ul>li:hover {
    background-color: green;
    color: white;
}

/******** end of megamenu code ********/

/******** start of dropdownmenu code ********/
.dropdownmenu {
    position: absolute;
    display: block;
    width: 10rem;
    visibility: hidden;
    opacity: 0;
    top: 120%;
    transition: ease-in .3s;
    font-size: 1rem;
    font-family: 'Aleo-Var';
    z-index: 100;
}

.dropdownmenu>ul {
    list-style: none;
    background-color: rgb(22, 8, 101);
    color: white;
    border-radius: 4px;
    margin-left: -40px;
}

.dropdownmenu>ul>li {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'RobotoCondensed-Var';
}

.dropdownmenu>ul>li:hover {
    background-color: green;
    color: white;
    border-radius: 4px;
}

.megamenu>ul>li:hover .dropdownmenu {
    visibility: visible;
    opacity: 1;
    top: 100%;
}

/******** end of dropdownmenu code ********/

/************** start of CSS for marquee text script  **************/
.marquee-container {
    width: 100%;
    /* Adjust as needed */
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
    height: 30px;
    /* Adjust height as needed */
    /* background-color: rgb(22, 8, 101); */
}

.marquee-text {
    display: flex;
    position: absolute;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    /* Remove default bullets */
    gap: 30px;
    /* Adjust spacing between items */
    will-change: transform;
    /* Optimize for performance */

}

.marquee-text li {
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Kan-NotoSans-Var';
    color: rgb(13, 0, 162);
    /* background-color: rgb(201, 255, 201); */
    border-radius: 4px;
}

/************** end of CSS for marquee text script  **************/
.container {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.container h4 {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}

.aside-block-1 {
    font-family: sans-serif;
    background-color: beige;
    width: clamp(140px, 20vw, 200px);
    /* height: 100vh; */
    float: inline-start;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 10px;
    text-align: justify;
    border: 1px solid lightpink;
    box-shadow: 3px 3px 5px gray;
}

#megamenu-section {
    position: sticky;
    top: 0px;
    background-color: blue;
}

#megamenu-section .megamenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}